
{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
    <style>

    .sidebar {
            background-color:rgb(7, 7, 7);
            color:white;
            padding: 20px;
            height: 100vh;
            width: 20%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
          
        }
        

        .sidebar h3 {
            color: white;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin-bottom: 20px;
        }

        .sidebar li {
            margin-bottom: 40px;
        }

        .sidebar li a {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: color 0.3s;
        }

        .sidebar li a:hover {
            color: red;
        }

       
           .menu-title {
        color: rgb(0, 96, 92);
        font-weight: bold;
        
    }
        body {
            margin: 20px;
            padding: 20px;
            overflow: hidden;
            
        }
        .table {
        width: 60%;
        margin: 0 auto;
        background-color: #fff;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .table th,
    .table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

   
        
       
        
       
        h1 {
            color: #fff;
            font-size: 24px;
            text-align: center;
            margin-top: 20px;
        }

        .my-custom-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-align: center;
}
 

.my-custom-button:hover {
  background-color: black;
}

    .form-control{
  /* Ajoutez vos styles personnalisés ici */
  color: black;
  border: 2px solid black;
  /* Autres styles */
}  

        .back-link {
    color: blue; /* Couleur du lien */
    font-size: 20px; /* Taille de police du lien */

    position: absolute; /* Position absolue pour placer l'élément indépendamment du flux de la page */
    top: 20px; /* Distance depuis le haut de la page */
    right: 20px; /* Distance depuis le bord droit de la page */
}
        .back-link:hover {
    color: black; /* Changez la couleur ici pour le hover */
} 
 h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    
    
}

    </style>
{% endblock %}

{% block body %}
<div class="sidebar">
    <h2><span class="menu-title">Menu</span></h2>
    <ul class="list-group">
        <li><a href="{{ path('app_article_index') }}"><i class="fa-solid fa-house   "></i> gestion des articles</a></li>
        <li><a href="{{ path('app_category_index') }}" ><span class="material-symbols-outlined">category</span>gestion des categories</a></li>
        <li><a href="{{ path('app_user_index') }}"> <i class="fa-regular fa-user "></i>gestion des users</a></li>
        <li><a href="#"><i class="fa-solid fa-arrow-right-from-bracket "></i>Déconnexion</a></li>
    </ul>
</div>

   <h1>   L'utilisateur N:{{ user.id }} </h1>
       <a href="{{ path('app_user_index') }}" class="back-link">back to list</a>
            <table class="table">
                <tbody>
                
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    
                </tbody>
            </table>
            
            
            

           
            <!-- Button trigger modal -->
<button type="button" class="my-custom-button fa-solid fa-pen"data-toggle="modal" data-target="#exampleModal">

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier les coordonnées du user:<strong>{{user.email}}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
   {{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.email) }}
    <div class="d-flex align-items-start">
        <div class="flex-grow-1">
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {% if form.email.vars.errors|length > 0 %}
                <div class="text">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-group">
    {{ form_label(form.password) }}
    <div class="d-flex align-items-start">
        <div class="flex-grow-1">
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

    <div class="modal-footer">
   <button class="btn btn-success">{{ button_label|default('enregistrer') }}</button>
    </div>
   
{{ form_end(form) }}
</div>
     
      
               
    </div>
  </div>
</div>
            
           
        

    
{% endblock %}
